.Progressbarouter{
   
    width: 10%;
}
.Progressbarouter_inner{
    background-color: #fafafa;
    border-radius: 5px;
 
}
.Progressbarouter_inner_row1{
  
    

}

.Progressbarouter_inner_row1 label{
    font-size: 12px;
   
}
.Progressbarmore{
    margin: 0px 0px -4px 15px;

}
.Progressbarouter_inner_row2 img{
    width: 87px;
    margin: 11px 14px 14px 44px;
   
}
