.ProspectListpage{
    display: absolute;
}
.ProspectListpage_Admindashboard{
 
}
.ProspectListpage_LeftBar{

}
.ProspectListpage_container{

    margin-left: 252px;
    margin-top: -1000px;
    margin-right: 208px;
  

}
.ProspectListpage_Filterbar{

}
.ProspectListpage_Mainlist{

}